*{
  padding: 0px;
  box-sizing: border-box;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 75px;
  margin-left: auto;
  margin-right: auto;
}

/*  SECTIONS  */

/* .section {
	clear: both;
	padding: 0px;
	margin: 0px;
} */

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 47.5%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}



.footer {
  position: relative;
  left: 10%;
  bottom: 10px;
  width: 70%;
  height: 20%;
  background-color: whitesmoke;
  color: black;
  font-size: normal;
}

.left_footer {
  width: 45%;
  Float: left;
  display:inline;
}

.right_footer {
  width: 45%;
  Float: right;
  display:inline;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: blue;
  font-family: 'Mukta', sans-serif;
}

.logo{
  color:rgb(245, 231, 231);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  color:rgb(245, 231, 231);
  justify-content: space-around;
  width: 40%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color:rgb(245, 231, 231);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  background-color:rgb(245, 231, 231);
  margin: 5px;
  transition: all 0.3s ease;
}

@media  screen and (max-width:768px){
  body {
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    /* transform: translateX(100%); */
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .left_footer {
    width: 45%;
    Float: left;
    display:inline;
    transition: display 0.5s ease-in;
  }
  
  .right_footer {
    width: 45%;
    Float: right;
    display:inline;
    transition: display 0.5s ease-in;
  }

  .div-simu {
    position: relative;
    left:15%;
    right:15%;
    max-width: 900px;
    min-width: 100px;
    text-align:justify;
    align-items: center;
    margin-bottom: 5vh;
    transition: display 0.5s ease-in;
  }

}


.nav-active{
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translateX(0%);
}

.footer-nav-active{
  display:none;
}

.div-simu-nav-active{
  display: none;
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

body {
  position:relative;
  text-align:justify;
  align-items: center;
  overflow-x: hidden;
  }

a {
  text-decoration: none;
}

.div-simu {
  left:15%;
  right:15%;
  max-width: 900px;
  min-width: 100px;
  text-align:justify;
  align-items: center;
  margin-bottom: 5vh;
  }

.div-rese {
    left:15%;
    right:15%;
    max-width: 900px;
    min-width: 100px;
    text-align:justify;
    align-items: center;
    margin-bottom: 5vh;
  }

    